# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/stream
/stream.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Build folders
build/

media/
node_modules/
.DS_Store
workbook*

# App Data and local storage
data/
web/node_modules/
/dist/
web/dist/*
!web/dist/.gitkeep
